.App {
  width: 100vw;
  background-color: rgb(251, 251, 251);
}

.Container {
  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*====== HOMEPAGE STYLING ======*/
.HomePage {
  width: 100%;
  text-align: center;
}

.container {
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.portrait > img {
  width: 320px;
  height: 430px;
  object-fit: cover;
  border-radius: 30px;
  border: 8px solid silver;
}

/*====== FEATURED WORKS PAGE STYLING ======*/
.cards-container {
  min-width: 320px;
  max-width: 750px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*====== CONTACT PAGE STYLING ======*/

.ContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div {
  min-width: 320px;
  max-width: 750px;
  width: 100%;
  border: 1px silver solid;
  border-radius: 20px;

  padding: 30px;
}
